[viewBag]
==
<header class="header-section">
<a href="{{ 'home'|page }}" class="site-logo"><img src="{{ 'assets/img/logo.png'| theme }}" alt="logo"></a>
		<div class="header-controls">
			<button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
			<button class="search-btn"><i class="fa fa-search"></i></button>
		</div>
		<ul class="main-menu">
			<li><a href="{{ 'home'|page }}">Home</a></li>
			<li><a href="{{ 'about'|page }}">About Us</a></li>
			<li><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
			<li><a href="{{ 'blog'|page }}">Blog</a></li>
			<li><a href="{{ 'contact'|page }}">Contact</a></li>
			<li class="search-mobile">
				<button class="search-btn"><i class="fa fa-search"></i></button>
			</li>
		</ul>
</header>
<div class="clearfix"></div>