==
<!-- Hero section  -->
	<div class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/1.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/2.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/3.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/4.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/5.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/6.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/7.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/8.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/9.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/10.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a></div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/11.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/12.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/13.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/14.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/15.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/16.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/17.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/18.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/19.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/20.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="{{ 'assets/img/portfolio/21.jpg'| theme }}">
				<a href="{{ 'portfolio'|page }}" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
		<div class="hero-social-links">
			<a href=""><i class="fa fa-pinterest"></i></a>
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
			<a href=""><i class="fa fa-dribbble"></i></a>
			<a href=""><i class="fa fa-behance"></i></a>
		</div>
	</div>
	<!-- Hero section end  -->