==
<!-- Intro section   -->
<section class="intro-section">
	<div class="intro-warp">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-6 col-lg-7 p-0">
					<div class="intro-text">
						<h2>{{ this.theme.intro_headline | raw }}</h2>
						<p>{{ this.theme.intro_text }}</p>
						<a href="#" class="sp-link">{{ this.theme.intro_portfolio }}</a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-5 p-0">
					<div class="skill-warp">
						<div class="single-progress-item">
							<div class="progress-bar-style" data-progress="{{ this.theme.intro_progress_bar_percentage_1 }}"></div>
							<p>{{ this.theme.intro_progress_bar_item_1 }}</p>
						</div>
						<div class="single-progress-item">
							<div class="progress-bar-style" data-progress="{{ this.theme.intro_progress_bar_percentage_2 }}"></div>
							<p>{{ this.theme.intro_progress_bar_item_2 }}</p>
						</div>
						<div class="single-progress-item">
							<div class="progress-bar-style" data-progress="{{ this.theme.intro_progress_bar_percentage_3 }}"></div>
							<p>{{ this.theme.intro_progress_bar_item_3 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Intro section end  -->