title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0

[contactForm]
injectBootstrapAssets = 1
==
<!-- Google Map -->
{% if this.theme.googlemap_contact_page %}
<div class="map">
    <iframe src="{{ this.theme.contact_maps }}" style="border:0" allowfullscreen></iframe>
</div>
{% endif %}
<!-- Google Map end -->

<!-- Contact section  -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h3>{{ this.theme.contact_headline | raw }}</h3>
                    <p>{{ this.theme.contact_text }}</p>
                    <ul>
                        <li>{{ this.theme.contact_addr1 }} <br>{{ this.theme.contact_addr2 }}</li>
                        <li>{{ this.theme.contact_phone }}</li>
                        <li>{{ this.theme.contact_email }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    {% component 'contactForm' %}
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end  -->

<!-- Instagram section -->
{% if this.theme.instafeed_contact_page %}
<div class="instagram-section">
    <h6>Instagram Feed</h6>
    <div id="instafeed" class="instagram-slider owl-carousel"></div>
</div>
{% endif %}
<!-- Instagram section end -->